.input_modal{
    width:100%;
    height:35px;
    margin:5px;
    padding:4px;
}


.header_modal{
    margin:5px;
}

.header_searchBox{
    height:20px;
    border-radius: 50px;
    height:35px;
    padding:15px;
}

.modal_back,.modal_add{
    width:100px;
    margin:5px;
    cursor: pointer;
    color:white;
    background-color: black;
    border-radius: 5px;
    border:none;
    height:30px;
}


.modal_overLay{
    top: 10%;
      left: 30;
      right: 0;
      bottom: 0;
      /* backgroundColor: rgba(122, 65, 65, 0.75); */
      background-color: red;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    z-index: 5;
  }